*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section{
    display: flex;
    flex-direction: column;
}

#header{
    background-color: limegreen;
    min-height: 60px;
    border: 1px solid blue;
    display: flex;
    align-items: center;
}

ul{
    list-style: none;
    flex-grow: 4;
}

ul li{
    display: inline-block;
    padding: 10px;
}
input{
    padding: 5px;
    flex-grow: 1;
}

#content{
    margin-top: 30px;
    min-height: 600px;
    border: 2px solid green;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap: 15px;
    grid-template-rows: auto,auto;
}

.item{
    margin-top: 20px;
    width: 100%;
    height: 300px;
    background-color: purple;
}
.item1{
    grid-column: 1/4;
}

.item2{
    grid-column: 1/3;
}

.item5{
    grid-column:2/4 ;
}
#footer{
    min-height: 200px;
    border: 3px solid pink;
}

@media screen and (max-width:720px) {
    
    .item2{
        grid-column: 1/4;
    }
    .item4{
        grid-column:2/4 ;
    }

    .item5{
        grid-column: 1/4;
    }
}